.main-div {
    width: 90%;
    margin: auto;
    background-color: rgb(230, 247, 255);
    font-family: none;
}
.leftSideBox {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin: 0px 5px 5px 15px;
    padding: 25px;
}

.rightSideBox {
    width: 20%;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
    padding: 15px;
    margin-left: 30px;
    text-align: center;
    position: fixed;
}

.rightBoxDownloadBtn {
    background-color: #1a73e8;
    cursor: pointer;
    color: white;
    width: 100%;
    font-size: 1em;
    padding: 6px;
    border-radius: 3px;
    border: none;
}
.rightBoxDownloadBtn:hover{
    background-color: #188038;
    transform: translateY(2px);
}

.advisoryContentHeader {
    margin-bottom: 32px;
    width: 100%;
}

.companyName {
    word-break: break-word;
    font-size: 24px;
}

.invoiceEditableContent1 {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    font-weight: bold;
}

.invoiceEditableContent2 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 0px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: top;
}

.invoiceEditableItem {
    width: 100%;
}

.textRight {
    text-align: right;
}

.address {
    display: inline-block;
    margin-bottom: 16px;
    width: 60%;
    vertical-align: top;
}

.address div {
    line-height: 25px;
}

.clientInvoiceDetails {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.clientInvoiceDetails div {
    line-height: 25px;
}

.personalInfo {
    width: 100%;
}

.personalInfoLeftBox {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.personalInfoRightBox {
    display: inline-block;
    width: 40%;
}

.invoiceMessage {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table .number {
    width: 20px;
}


table thead tr th {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}

td {
    text-align: left;
    padding-top: 6px;
}

.remove {
    color: red;
    margin-left: 8px;
    cursor: pointer;
    font-size: 1.5em;
}

.addNewItem {
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.invoiceTotal {
    margin-bottom: 20px;
    margin-top: 24px;
}

.subtotal{
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.subtotalLeft {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    width: 82%;
    display: inline-block;
}
.subtotalValue {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
}

.tax{
    margin-bottom: 5px;
    width: 100%;
}

.taxName{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    width: 82%;
    display: inline-block;  
}

.taxValue{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
}


.invoiceGrandTotal{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    width: 80%;
    display: inline-block;  
}


.greetings{
    margin-top: 24px;
}

th{
    border-bottom: 1px solid rgb(76, 73, 73);
}

@media screen and (max-width: 745px) {
    .leftSideBox {
        width: 85%;
        background-color: white;
        margin: 0px 5px 5px 15px;
        padding: 25px;
    }
    .main-div {
        width: 100%;
        margin: auto;
        background-color: rgb(230, 247, 255);
        font-family: none;
    }
    .rightSideBox {
        width: 70%;
        background-color: #ffffff;
        border: 1px solid #f3f3f3;
        padding: 15px;
        margin-left: 60px;
        text-align: center;
        position: static;
    }
    .rightBoxDownloadBtn {
        background-color: #1a73e8;
        cursor: pointer;
        color: white;
        width: 100%;
        font-size: 1em;
        padding: 10px;
        border-radius: 3px;
        border: none;
    }
  }  

  input{
    outline: 1 solid ;
    outline-color:blue;
    background: none;
    border: none;
    width: 60%;
}

.textBold{
    font-weight: bold;
}

.taxName{
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
    border: none;
    background-color: white;
    color:#1a73e8;
}

.taxPosition{
    position: relative;
    right: 30px;
    width: 45px;
    text-align: right;
}

.percentagePosition{
    position: relative;
    right: 35px;
}
