$inputBorder : 1px solid #585858;
$divBorders : 1px solid #ede8ea;

body {
    margin: 0px;
    padding: 0px;

    .mainBox {
        height: 100vh;
        position: relative;

        .logo {
            height: 8%;
            width: 12%;
            border: $divBorders;
            display: inline-block;
            position: absolute;
        }

        .navHeader {
            display: inline-block;
            height: 8%;
            width: 88%;
            border: $divBorders;
            position: absolute;
            margin: auto 0 0 12%;
        }
        .sideNav{
            height: 94%;
        }
        .sideNav, .sideNavWithMatrix {
            display: inline-block;
            width: 12%;
            margin: 3% 0 0 0;
            border: $divBorders;
            background-color: #526fe4;
            position: absolute;
        }
        .sideNavWithMatrix{
            height: 200%;
        }
        .rightMain{
            height: 94%;
        }
        .rightMainWithMatrix{
            height: 200%;
        }
        .rightMain, .rightMainWithMatrix {
            display: inline-block;
            width: 88%;
            margin: 3% 0px 0px 12%;
            border: $divBorders;
            background-color: #f0f4fa;
            position: absolute;

            .contentArea {
                height: auto;
                width: 95%;
                background-color: #ffffff;
                margin: 2% auto;
                padding: 20px 5px 0 20px;

                .selectionArea {
                    display: inline-block;
                    margin: 0 5px 0;

                    .labels {
                        display: block;
                        margin: 0 0 5px;
                    }

                    .goButton {
                        border: $inputBorder;
                        width: 60px;
                        height: 38px;
                        border-radius: 5px;
                        background-color: #4959e8;
                        color: #ffffff;
                        font-weight: bold;
                        font-size: large;
                    }
                }

                .schemeList {
                    display: inline-block;

                    .displayList {
                        display: inline-block;
                        position: relative;

                        .listTitle {
                            color: #2e2b3a;
                            margin: 56px 10px 0 5px;
                            height: 500px;
                            position: absolute;
                            width: 10%;
                        }

                        .listBox {
                            display: inline-block;
                            width: auto;
                            margin: 0 0 0 60px;
                            font-weight: bold;

                            .lists {
                                display: inline-block;

                                .date {
                                    color: #35c0ae;
                                    text-align: center;
                                    font-style: italic;
                                    width: 400px;
                                    margin: 30px 0 4px 10px;
                                    display: block;
                                }

                                .list {
                                    color: #585858;
                                    border: 1px solid #585858;
                                    width: 400px;
                                    list-style-type: none;
                                    display: inline-block;
                                    border-radius: 15px;
                                    margin: 0 0 0 10px;
                                    height: auto;
                                    padding: 5px;

                                    .deleteBtn {
                                        border-left: $inputBorder;
                                        float: right;
                                        width: 20px;
                                        text-align: center;
                                        height: 20px;
                                    }
                                }
                            }
                        }

                        .clearButton {
                            border: $inputBorder;
                            border-radius: 15px;
                            width: 90px;
                            text-align: center;
                            color: #ffffff;
                            background-color: #6e738b;
                            height: 35px;
                            padding: 8px 2px 0 0;
                            display: inline-block;
                            margin: -8px 0 0 10px;
                            position: inherit;

                            .deleteBtn {
                                float: right;
                                border-left: 1px solid #d1e0eb;
                                width: 16px;
                                height: 25px;
                                padding: 5px 0 0 0;
                                margin: -10px 0 0 0;
                            }
                        }
                    }
                }

                .timePeriodBox {
                    display: block;
                    margin: 15px 5px 0;

                    .dropdownContainer {
                        width: 100px;
                    }
                }

                .applyButton {
                    border: $inputBorder;
                    width: 80px;
                    height: 40px;
                    margin: 2% 45%;
                    background-color: #4959e8;
                    color: #fff;
                    border-radius: 3px;
                    font-size: large;
                }
            }

            .matrixArea {
                height: auto;
                width: 95%;
                background-color: #ffffff;
                margin: 2% auto;
                padding: 20px 5px 25px 20px;

                .correlationMatrix {
                    width: 80%;
                    margin: 10px auto;
                    text-align: center;
                    padding: 20px;

                    .heatMap {
                        display: inline-flex;
                    }
                }

                .tableCollapse {
                    border-collapse: collapse;
                    width: auto;
                    margin: auto;

                    .lowerTableRow {
                        border: 1px solid rgb(244, 244, 244);
                        box-shadow: 0px 1px 1px 1px rgb(244, 244, 244);
                        padding: 5px 5px;

                        .colorGreen {
                            background-color: rgb(138, 236, 49);
                        }

                        .colorSkyBlue {
                            background-color: rgb(135, 243, 193);
                        }

                        .colorOrange {
                            background-color: rgb(232, 119, 16);
                        }

                        .colorRed {
                            background-color: rgb(228, 69, 11);
                        }
                    }

                    .lowerTableRow td {
                        padding: 5px 40px;
                    }
                }
            }
        }
    }
}

.dropdownContainer {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    width: 350px;

    .dropdownInput {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    .dropdownMenu {
        position: absolute;
        transform: translateY(4px);
        width: 100%;
        overflow: auto;
        max-height: 150px;
        background-color: #c9d7f3;
        z-index: 99;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;

        .dropdownItem {
            padding: 8px;
            cursor: pointer;
        }

        .dropdownItem:hover {
            background-color: #98b9fa;
        }

        .searchBox {
            padding: 5px;
            background-color: #eee;
        }

        .searchBox .searchInput {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
}
// .heatMap div div div {
//     // width: 55px;
// }