$font : Arial,
Helvetica,
sans-serif;
$main-color: #F1F5FA;
$border-color: #eaebed;
$button-color: #5275E9;
$text-color: #626161;
$blue : #39B0DC;
$red : #F15562;
$green : #4FC9A2;

* {
    box-sizing: border-box;
    font-family: $font;
    margin: 0;
    padding: 0;
}

body {
    background-color: $main-color;
}

.outerContainer {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 1%;

    .info {
        font-family: $font;
        font-size: 15x;
        font-weight: 400;
        color: $text-color;
        word-spacing: 5px;
        margin: 30px 43px;
    }

    .filterArea {
        position: relative;
        width: 98%;
        padding: 2.66% 1% 2.66% 1%;
        margin: 0% 1% 2% 1%;
        background-color: #FFFFFF;
        border: 3px solid $border-color;

        .proceedButton {
            margin: 0 0 0 40%;
            background-color: $button-color;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            color: #FFFFFF;
            padding: 10px;
            width: 8%;

        }

        .searchField {
            display: inline-block;
            vertical-align: top;
            background-color: #FFFFFF;
            width: 50%;
            height: 7.5em;

            .schemeLabel {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.3rem;
            }

            .dropdownInputOuter {
                position: absolute;
                width: 36%;
                border: 3px solid $border-color;
                border-radius: 4px;
                height: 16%;

                .dropdownInput {
                    position: absolute;
                    padding: 1.5%;
                    width: 100%;
                    border: none;
                    border-radius: 4px;
                    font-size: 16px;
                }

                .svg {
                    margin: 1% 1% 0% 0%;
                    float: right;
                    position: relative;

                }
            }

            .dropDown {
                border: 1px solid grey;
                position: absolute;
                width: 35.8%;
                margin: 2.2% 0 0 0.1%;
                display: block;
                overflow-y: auto;
                max-height: 18em;
                background-color: white;
                z-index: 1;

                .dropDown-row {
                    cursor: pointer;
                    text-align: start;
                    margin: 2px 0;
                    background-color: white;
                    padding: 4px;
                    margin-bottom: 1px;
                    font-size: 18px;
                }

                .dropDown-row:nth-child(even) {
                    background-color: #efeff0;
                }
            }

            .dropDown:empty {
                border: none;
            }
        }
    }

    .portfolioOverlap {
        margin: 1%;
        width: 98%;
        height: 27vw;
        background-color: #FFFFFF;
        border: 3px solid $border-color;
        display: block;
        position: relative;
        z-index: 0;

        .leftDiv {
            position: absolute;
            background-color: #ffffff;
            border: 1px solid $border-color;
            border-radius: 2%;
            width: 42.58vw;
            margin: 1.5% 0% 0% 1.5%;
            height: 24vw;

            .vennDiagramLeftLabel {
                display: inline-block;
                position: absolute;
                background-color: #39B0DC;
                border-radius: 4px;
                color: #FFFFFF;
                padding: 0.5rem;
                width: 15%;
                margin: 6% 0% 0% 7%;
                text-align: center;
                z-index: 1;
            }


            .vennDiagramLeft {
                display: inline-block;
                position: absolute;
                border: 2px solid #39B0DC;
                width: 65%;
                height: 75%;
                padding: 0%;
                margin: 8% 0% 2% 1%;
                border-radius: 3%;


                .sideLabel {
                    float: left;
                    text-align: center;
                    margin: 15% 0% 0 -2%;
                    width: min-content;
                    font-size: 12px;
                    letter-spacing: 3px;
                    font-weight: 800;
                    transform: rotate(-90deg);
                }

                .graphA {
                    position: absolute;
                    margin: 20% 0% 0% 30%;

                }

                .graphALabel {
                    position: absolute;
                    margin: 12vw 0 0 4.5vw;
                    width: 9vw;
                    text-align: center;
                    color: #626161;
                    font-size: .85vw;
                }

                .commonGraphA {
                    position: absolute;
                    margin: 20% 0% 0% 65%;

                }

                .commonGraphB {
                    position: absolute;
                    margin: 20% 0% 0% 80%;


                }

                .commonGraphLabel {
                    position: absolute;
                    margin: 12vw 0 0 16.5vw;
                    width: 9vw;
                    text-align: center;
                    color: #626161;
                    font-size: 0.85vw;
                }

            }

            .vennDiagramRightLabel {
                display: inline-block;
                position: absolute;
                background-color: #F15562;
                border-radius: 4px;
                color: #FFFFFF;
                padding: 0.5rem;
                width: 15%;
                margin: 0.5% 0% 0% 75%;
                text-align: center;
                z-index: 1;
            }


            .vennDiagramRight {
                position: relative;
                border: 2px solid #F15562;
                width: 60%;
                height: 75%;
                padding: 0px;
                margin: 2% 2% 0% 1%;
                border-radius: 3%;
                float: right;

                .graphB {
                    position: absolute;
                    margin: 32% 0% 0% 60%;

                }

                .graphBLabel {
                    position: absolute;
                    margin: 15vw 0 0 12vw;
                    width: 9vw;
                    text-align: center;
                    color: #626161;
                    font-size: 0.85vw;
                }
            }

            .vennLabel {
                font-family: $font;
                font-size: 12px;
                position: absolute;
                margin: 53% 0% 0% 3%
            }
        }

        .rightDiv {
            position: absolute;
            background-color: #ffffff;
            width: 53.2%;
            margin: 0.1vw 0 0 44.35vw;
            height: 26.2vw;
            vertical-align: top;

            .rightContainerA {
                position: absolute;
                border: 2px solid $border-color;
                width: 47%;
                height: 11.25vw;
                margin: 1.05vw 0 0 0.4vw;
                border-radius: 4px;

                .recharts-surface {
                    width: 100%;
                    height: 100%;
                }
            }

            .rightContainerB {
                position: absolute;
                border: 2px solid $border-color;
                width: 47%;
                height: 11.25vw;
                margin: 2% 0 0 25.5vw;
                border-radius: 4px;

                .commonStockDiv {
                    background-color: $green;
                    position: absolute;
                    width: 24%;
                    height: 5.5vw;
                    border-radius: 90%;
                    padding: 6.75% 0 4% 4%;
                    margin: 15.7% 2.25% 4.5% 4.5%;
                    float: left;

                    .commonStockIcon {
                        position: absolute;
                        margin: 3% 0 0 7%;
                        width: 50%;
                    }
                }

                .commonStock {
                    float: right;
                    font-size: 2.7vw;
                    margin: 18% 3% 0 0;
                    font-weight: 550;
                    direction: rtl;
                }
            }

            .rightContainerC {
                position: absolute;
                border: 2px solid $border-color;
                width: 47%;
                height: 11.25vw;
                margin: 14.2vw 0 0 0.4vw;
                border-radius: 4px;

                .unCommonStockDiv {
                    background-color: $blue;
                    position: absolute;
                    width: 24%;
                    height: 5.5vw;
                    border-radius: 90%;
                    padding: 6.75% 0 4% 4%;
                    margin: 15.7% 2.25% 4.5% 4.5%;
                    float: left;

                    .unCommonStockIcon {
                        position: absolute;
                        margin: 3% 0 0 7%;
                        width: 50%;
                    }
                }

                .unCommonStockA {
                    float: right;
                    position: absolute;
                    font-size: 2.7vw;
                    font-weight: 550;
                    margin: 1vw 0 0 11.5vw;
                    direction: rtl;
                    display: inline;
                }

                .totalStockA {
                    float: right;
                    position: absolute;
                    font-size: 2.7vw;
                    margin: 25% 0 0 62%;
                    font-weight: 550;
                    direction: rtl;
                }

            }

            .rightContainerD {
                position: absolute;
                border: 2px solid $border-color;
                width: 47%;
                height: 11.25vw;
                margin: 14.2vw 0 0 25.5vw;
                border-radius: 4px;

                .unCommonStockDiv {
                    background-color: $red;
                    position: absolute;
                    width: 24%;
                    height: 5.5vw;
                    border-radius: 90%;
                    padding: 6.75% 0 4% 4%;
                    margin: 15.7% 2.25% 4.5% 4.5%;
                    float: left;

                    .unCommonStockIcon {
                        position: absolute;
                        margin: 3% 0 0 7%;
                        width: 50%;
                    }
                }

                .unCommonStockB {
                    float: right;
                    position: absolute;
                    font-size: 2.7vw;
                    margin: 1vw 0 0 11.5vw;
                    font-weight: 550;
                    direction: rtl;
                    display: inline;
                }

                .totalStockB {
                    float: right;
                    position: absolute;
                    font-size: 2.7vw;
                    margin: 6vw 0 0 14.5vw;
                    font-weight: 550;
                    direction: rtl;
                    display: inline;
                }

            }

            .text {
                float: right;
                font-size: 35.5%;
                direction: ltr;
                word-spacing: 0.25rem;
                color: #626161;
            }
        }

    }

    .tableLabel {
        font-family: $font;
        font-size: 15x;
        font-weight: 600;
        color: $text-color;
        word-spacing: 5px;
        margin: 0 40px 0 40px;
    }

    .tableScroll {
        position: relative;
        background-color: white;
        height: 600px;
        display: block;
        overflow: auto;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1.1vw 2vw 0 2vw;
        border: 3px solid $border-color;

        .styledTable {
            width: 100%;
            font-size: 20px;
            border: 2px solid border-color;
            background-color: rgb(255, 255, 255);
            border-collapse: collapse;

            .tableHeading {
                background-color: white;
                font-size: 18px;
                border-bottom: 3px solid #C7C8C8;
                padding: 10px 0 5px 20px;
                text-align: left;
                color: $text-color;
                position: sticky;
                top: 0px;

            }

            .tableRow {

                .tableData {

                    font-size: 1vw;
                    padding: 5px 5px 5px 20px;

                    .icons {
                        float: left;
                        margin: 2px 0 0 6px;
                        vertical-align: top;
                    }
                }

                .progressColoumn {
                    width: 35%;
                    padding: 0 30px 0 17px;
                }

            }

            .tableRow:nth-child(even) {
                background-color: #efeff0;
            }
        }

    }

    .loader {

        border: 6px solid #f3f3f3;
        border-top: 6px solid #3498db;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: auto;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


    .bar {
        text-align: center;
        vertical-align: center;
        line-height: 1vh;
        width: fit-content;

        .barGraphRight {
            display: inline-block;
            width: 20px;
            height: 7px;
            border-radius: 2px 0px 0px 2px;
            margin: 0.2px 0px;
            font-size: 2px;
        }

        .barGraphLeft {
            display: inline-block;
            width: 20px;
            height: 7px;
            border-radius: 0px 2px 2px 0px;
            margin: 0.2px 0px;
            font-size: 2px;
        }
    }
}


// MEDIA QUERIES

@media only screen and (max-width: 768px) {

    .outerContainer {
        width: 100%;

        .filterArea {
            width: 100%;
            margin: 0 1% 2% 0%;

            .searchField {
                width: 87vw;

                .dropdownInputOuter {
                    width: 90%;
                    height: 6vw;
                }

                .dropDown {
                    width: 87vw;
                    margin: 5vw 0 0 0.3vw;
                    max-height: 30vw;
                    background-color: white;
                    border: 1px solid lightgray;

                    .dropDown-row {
                        margin-bottom: -2px;
                        font-size: 12px;
                    }
                }
            }

            .proceedButton {
                width: 20%;
                margin: 4vw 0 0 34vw;
            }
        }

        .portfolioOverlap {
            margin: 3% 1% 2% 0%;
            width: 100%;
            height: max-content;

            .leftDiv {
                position: relative;
                width: 97%;
                height: 60vw;

                .vennDiagramLeftLabel {
                    width: 20%;

                }

                .vennDiagramRightLabel {
                    width: 20%;

                }

                .vennDiagramLeft {
                    .graphALabel {
                        position: absolute;
                        margin: 28vw 0 0 13vw;
                        font-size: 1.5vw;
                        width: 15vw;
                    }

                    .commonGraphLabel {
                        position: absolute;
                        margin: 28vw 0 0 36vw;
                        font-size: 1.5vw;
                        width: 20vw;
                    }

                }

                .vennDiagramRight {
                    .graphBLabel {
                        position: absolute;
                        margin: 34vw 0 0 26.5vw;
                        font-size: 1.5vw;
                        width: 20vw;
                    }

                }

                .vennLabel {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    position: absolute;
                    margin: 60% 0% 0% 3%;
                }



            }

            .rightDiv {
                position: relative;
                width: 100%;
                margin-left: 0;
                height: 47vw;

                .rightContainerA {
                    margin: 3vw 0 0 1.5vw;
                    width: 48%;
                    height: 20vw;

                    .recharts-surface {
                        width: 72%;
                        display: block;
                        height: 150%;
                        margin: -23% 0 0 0%;

                    }
                }

                .rightContainerB {
                    margin: 3vw 0vw 0 49.5vw;
                    width: 48%;
                    height: 20vw;

                    .commonStockDiv {
                        position: relative;
                        width: 23%;
                        height: 10vw;
                        border-radius: 90%;
                        padding: 6.75% 0 4% 4%;
                        margin: 10% 2.25% 4.5% 4.5%;

                        .commonStockIcon {
                            position: absolute;
                            margin: 0% 0 0 9%;
                            width: 50%;
                        }
                    }

                    .commonStock {
                        font-size: 5vw;
                        margin-top: 10%;
                    }

                }

                .rightContainerC {
                    margin: 25vw 0 0 1.5vw;
                    width: 48%;
                    height: 20vw;

                    .unCommonStockDiv {
                        position: relative;
                        width: 23%;
                        height: 10vw;
                        border-radius: 90%;
                        padding: 6.75% 0 4% 4%;
                        margin: 11% 2.25% 4.5% 4.5%;
                        float: left;

                        .unCommonStockIcon {
                            position: absolute;
                            margin: 3% 0 0 7%;
                            width: 50%;
                        }
                    }

                    .unCommonStockA {
                        font-size: 5vw;
                        margin: -3vw 0 0 18.5vw;
                        padding: 10%;
                        display: block;
                        width: max-content;
                    }

                    .totalStockA {
                        font-size: 5vw;
                        display: block;
                        margin: 10vw 0 0 28.8vw;
                        width: max-content;
                    }
                }

                .rightContainerD {
                    width: 48%;
                    margin: 25vw 0 0 49.5vw;
                    height: 20vw;

                    .unCommonStockDiv {
                        position: relative;
                        width: 23%;
                        height: 10vw;
                        border-radius: 90%;
                        padding: 6.75% 0 4% 4%;
                        margin: 11% 2.25% 4.5% 4.5%;
                        float: left;

                        .unCommonStockIcon {
                            position: absolute;
                            margin: 3% 0 0 7%;
                            width: 50%;
                        }
                    }

                    .unCommonStockB {
                        font-size: 5vw;
                        margin: -3vw 0 0 18.5vw;
                        padding: 10%;
                        display: block;
                        width: max-content;
                    }

                    .totalStockB {
                        font-size: 5vw;
                        margin: 10vw 0 0 28.8vw;
                        display: block;
                        width: max-content;
                    }
                }
            }
        }

        .tableScroll {
            width: 100%;
            margin: 2vw 0 0 0;

            .styledTable {
                width: 100%;
                font-size: 18px;

                .tableHeading {
                    font-size: 2vw;
                }

                .tableRow {
                    .tableData {
                        font-size: 1.8vw;
                        padding: 5px 0px 4px 3px;
                    }

                    .progressColoumn {
                        width: 30%;
                        padding: 0 15px 0 15px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 420px) {

    .outerContainer {
        width: 100%;

        .info {
            font-size: .7em;
            margin: 16px 43px;
            font-weight: bold;
        }

        .filterArea {
            width: 100%;

            .searchField {
                width: 87vw;

                .dropdownInputOuter {
                    width: 90%;
                    height: 11%;
                }

                .dropDown {
                    width: 85vw;
                    margin: 8vw 0 0 1vw;
                    max-height: 50vw;
                    border: 1px solid lightgray;
                    background-color: white;

                    .dropDown-row {
                        padding: 3px;
                        margin-bottom: -1px;
                        font-size: 13px;
                    }
                }
            }

            .proceedButton {
                width: 20%;
                margin: 6vw 0 0 34vw;

            }
        }

        .portfolioOverlap {
            margin: 3% 1% 2% 0%;
            width: 100%;
            height: max-content;

            .leftDiv {
                position: relative;
                width: 96%;
                height: 60vw;

                .vennDiagramLeftLabel {
                    position: absolute;
                    font-size: 3vw;
                    width: 20vw;
                    height: 6vw;

                }

                .vennDiagramRightLabel {
                    position: absolute;
                    font-size: 3vw;
                    width: 20vw;
                    height: 6vw;
                    margin: -1vw 0 0 65vw;

                }

                .vennDiagramLeft {
                    .graphA {
                        position: absolute;
                        margin: 11% 0% 0% 30%;

                        .bar {
                            line-height: 0.5vh;

                            .barGraphLeft {
                                width: 14px;
                                height: 4px;
                            }

                            .barGraphRight {
                                width: 14px;
                                height: 4px;
                            }
                        }
                    }

                    .commonGraphA {
                        position: absolute;
                        margin: 12% 0% 0% 61%;

                        .bar {
                            line-height: 0.5vh;

                            .barGraphLeft {
                                width: 14px;
                                height: 4px;
                            }

                            .barGraphRight {
                                width: 14px;
                                height: 4px;
                            }
                        }
                    }

                    .commonGraphB {
                        position: absolute;
                        margin: 12% 0% 0% 80%;

                        .bar {
                            line-height: 0.5vh;

                            .barGraphLeft {
                                width: 14px;
                                height: 4px;
                            }

                            .barGraphRight {
                                width: 14px;
                                height: 4px;
                            }
                        }
                    }

                    .graphALabel {
                        position: absolute;
                        margin: 33vw 0px 0px 11vw;
                        font-size: 2vw;
                        width: 22vw;
                    }

                    .commonGraphLabel {
                        position: absolute;
                        margin: 34vw 0px 0px 36vw;
                        font-size: 2vw;
                        width: 22vw;
                    }

                }

                .vennDiagramRight {
                    .graphB {
                        position: absolute;
                        margin: 23% 0% 0% 60%;

                        .bar {
                            line-height: 0.5vh;

                            .barGraphLeft {
                                width: 14px;
                                height: 4px;
                            }

                            .barGraphRight {
                                width: 14px;
                                height: 4px;
                            }
                        }
                    }

                    .graphBLabel {
                        position: absolute;
                        margin: 38vw 0px 0px 27.5vw;
                        font-size: 2vw;
                        width: 21vw;
                    }

                }

                .vennLabel {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 10px;
                    position: absolute;
                    margin: 58% 0% 0% 3%;
                }



            }

            .rightDiv {
                position: relative;
                width: 100%;
                margin-left: 0;
                height: 166vw;

                .rightContainerA {
                    position: absolute;
                    border: 2px solid $border-color;
                    width: 85vw;
                    height: 37.25vw;
                    margin: 4.2vw 0 0 5.5vw;
                    border-radius: 4px;

                    .recharts-surface {
                        width: 68vw;
                        display: block;
                        height: 64vw;
                        margin: -30% 0 0 -5%;

                    }
                }

                .rightContainerB {
                    position: absolute;
                    border: 2px solid $border-color;
                    width: 85vw;
                    height: 37.25vw;
                    margin: 44.2vw 0 0 5.5vw;
                    border-radius: 4px;

                    .commonStockDiv {
                        position: absolute;
                        width: 20vw;
                        height: 19vw;
                        border-radius: 90%;
                        margin: 11vw 0 0 5vw;

                        .commonStockIcon {
                            position: absolute;
                            margin: 0.1vw 0 0 1.5vw;
                            width: 10vw;
                        }
                    }

                    .commonStock {
                        font-size: 8.5vw;
                        margin: 3vw -6vw 0 0;
                        padding: 10%;
                        display: block;
                        width: max-content;
                    }

                }

                .rightContainerC {
                    position: absolute;
                    border: 2px solid $border-color;
                    width: 85vw;
                    height: 37.25vw;
                    margin: 84.2vw 0 0 5.5vw;
                    border-radius: 4px;

                    .unCommonStockDiv {
                        position: absolute;
                        width: 20vw;
                        height: 19vw;
                        border-radius: 90%;
                        padding: 6.75% 0 4% 4%;
                        margin: 11vw 0 0 5vw;

                        .unCommonStockIcon {
                            position: absolute;
                            margin: 0.1vw 0 0 0.8vw;
                            width: 12vw;
                        }
                    }

                    .unCommonStockA {
                        font-size: 8.5vw;
                        margin: -4vw 0 0 36vw;
                        padding: 10%;
                        display: block;
                        width: max-content;
                    }

                    .totalStockA {
                        font-size: 8.5vw;
                        margin: 12vw 0 0 46vw;
                        padding: 10%;
                        display: block;
                        width: max-content;

                    }

                }

                .rightContainerD {
                    position: absolute;
                    border: 2px solid $border-color;
                    width: 85vw;
                    height: 37.25vw;
                    margin: 124.2vw 0 0 5.5vw;
                    border-radius: 4px;

                    .unCommonStockDiv {
                        position: absolute;
                        width: 20vw;
                        height: 19vw;
                        border-radius: 90%;
                        margin: 11vw 0 0 5vw;

                        .unCommonStockIcon {
                            position: absolute;
                            margin: 0.1vw 0 0 0.8vw;
                            width: 12vw;
                        }
                    }

                    .unCommonStockB {
                        font-size: 8.5vw;
                        margin: -4vw 0 0 36vw;
                        padding: 10%;
                        display: block;
                        width: max-content;
                    }

                    .totalStockB {
                        font-size: 8.5vw;
                        margin: 12vw 0 0 46vw;
                        padding: 10%;
                        display: block;
                        width: max-content;

                    }
                }
            }
        }

        .tableLabel {
            margin: 0;
        }

        .tableScroll {
            width: 100%;
            margin: 5vw 0 0 0;

            .styledTable {
                width: 100%;

                .tableHeading {
                    font-size: 3vw;
                }

                .tableRow {
                    .tableData {
                        font-size: 3vw;
                        padding: 5px 0px 4px 3px;
                    }

                    .progressColoumn {
                        width: 30%;
                        padding: 0 9px 0 7px;
                    }
                }
            }
        }


    }
}